*,html,body,p,img{
	margin: 0; padding: 0;
}
html, body {
    position: relative;
    height: 100%;
}
body{
	color: #fafafa;
	background: #020518;
    font-family:"Microsoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

.red{
	color: red;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
img{
    display: block;
}
.n1{
	background:  url(../img/bg.jpg) no-repeat ;
	background-size: 100% 100%;
}
.n1 .img0{
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
}
.n1 .img1{
    width: 88%;
    position: absolute;
    top: 29%;
    left: 0;
}
.n1 .img2{
    position: absolute;
    right: 2%;
    top: 32%;
    height: 20%;
}
.n1 .img3{
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
}
.n1 .img4{
    position: absolute;
    width: 70%;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
}

.n2{
    background: url(../img/bg2.jpg) no-repeat;
    background-size: 100% 100%;
}
.n2 .swiper-slide{
    width: 100%;
    top:5%;
    background: transparent;
}

.n3,.n4{
    background: url(../img/bg3-4.jpg) no-repeat;
    background-size: 100% 100%;
}
.n3 img,.n4 img,.n5 img{
    width: 100%;
    left:0;
    right: 0;
    display: block;
    position: absolute;

}
.n3 img:nth-child(1){ top: 34%; }
.n3 img:nth-child(2){ top: 50%; left: -5%;}
.n3 img:nth-child(3){ top: 72%; }
    
.n4 img:nth-child(1){ top:27%; }
.n4 img:nth-child(2){ top:41%; }
.n4 img:nth-child(3){ top:52%; left:-3%; }
.n4 img:nth-child(4){ top:66%; }
.n4 img:nth-child(5){ top:75%; }
.n4 img:nth-child(6){ top:79%; left:-3%; }
.n4 img:nth-child(7){ top:91%; }

.n5{
    background: url(../img/bg5.jpg) no-repeat;
    background-size: 100% 100%;
}
.n5 img:nth-child(1){ top: 13%; }
.n5 img:nth-child(2){ top: 55%; }
#music{
    position: absolute;
    right: 3%;
    top: 2%;
    background: url(../img/music.png) no-repeat;
    background-size: 100% 100%;
    z-index: 999;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid rgba(7,18,48,0.5);
    animation:music 2s linear infinite; 
}
@keyframes music{
    from{ transform:rotate(0);}
    to{   transform:rotate(360deg); }
}
